.containerLegalNorm {
    height: 920px;
    width: 100%;
    padding: 20px 50px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.containerLegalNorm .titleCuestion {
    width: auto;
    height: auto;
    padding: 20px 15px;
}

.containerLegalNorm .titleCuestion h3 {
    color: rgb(76, 76, 76);
    font-size:45px;
    font-weight: 600;
    letter-spacing: -1px;
}

.containerButtons {
    display: flex;
    gap: 15px;
    padding-left: 15px;
}

.containerButtons .button {
    height: 50px;
    width: 200px;
    font-size: 18px;
    letter-spacing: 1px;
    background-color: #6940ff;
    color: aliceblue;
    border: none;
    cursor: pointer;
}

.TrueLegalNorm {
    display: flex;
    gap: 15px;
    padding-left: 15px;
}


.TrueLegalNorm input{
    padding-left: 15px;
    font-size: 18px;
    height: 50px;
    width: 60%;
    border: 1px solid rgb(202, 202, 202);
}

.TrueLegalNorm button{
    height: 50px;
    width: 150px;
    font-size: 15px;
    letter-spacing: 1px;
    background-color: #6940ff;
    color: aliceblue;
    border: none;
    cursor: pointer;
    margin-right: 5px;
}




/* Estilos para mobile ----------------------------------------------------------*/

@media only screen and (max-width: 680px) {
    .containerLegalNorm {
        height: 600px;
        padding: 20px 0px;
    }
    
    .containerLegalNorm .titleCuestion {
        padding: 0;
        margin: 40px 0px;
    }
    
    .containerLegalNorm .titleCuestion h3 {
        font-size: 26px;
        text-align: center;
    }
    
    .containerButtons {
        padding-left: 0;
        width: 100%;
        display: flex;
        justify-content: center;
        margin-top: 10px;
    }
    
    .containerButtons .button {
        height: auto;
        width: 140px;
        padding: 8px 16px;
        font-size: 16px;
        font-weight: 500;
        letter-spacing: 1px;
        border-radius: 4px;
        box-shadow: 0px 0px 40px rgba(0, 0, 0, .5);
    }
    
    .TrueLegalNorm {
        flex-direction: column;
        padding-left: 0;
    }
    
    
    .TrueLegalNorm input{
        padding: 8px 7px;
        font-size: 16px;
        height: auto;
        width: 100%;
    }

    .buttonsTwo {
        width: 100%;
        display: flex;
        gap: 15px;
        justify-content: center;
        margin-top: 10px;
    }
    
    .buttonsTwo button{
        height: auto;
        width: 140px;
        padding: 8px 16px;
        font-size: 16px;
        font-weight: 500;
        letter-spacing: 1px;
        border-radius: 4px;
        box-shadow: 0px 0px 40px rgba(0, 0, 0, .5);
        margin-right: 0;
        }
}