.containerContactUs {
    background-image: url('./images/fondo.jpg');
    background-attachment: fixed;
    border: 1px solid black;
    height: 920px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 100px;
}

.containerContactUs .flyerWebDevelop {
    background-color: #2F61E4;
    width: 30%;
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(10px);
}

.flyerWebDevelop .containerImage {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.containerContactUs .form {
    background-color: rgb(211, 211, 211);
    width: 30%;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 30px;
}


.form .titleProject {
    text-align: center;
    padding: 15px;
}

.form .titleProject h3 {
    font-size: 40px;
    font-weight: 400;
    color: #393939;
}

.form label {
    font-size: 15px;
    text-align: start;
    margin: 3px;
}

.form input {
    border: none;
    height: 40px;
    margin: 5px 0px;
    padding: 10px;
}

.form textarea {
    border: none;
    height: 150px;
    margin: 20px 0px;
    padding: 10px;
}

.form .containerButton {
    display: flex;
    justify-content: center;
}

.containerButton button {
    width: 20%;
    height: 40px;
    border: none;
    background-color: #2F61E4;
    color: aliceblue;
    cursor: pointer;
}
