.containerApiOrDatabase {
    height: 920px;
    width: 100%;
    padding: 20px 50px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.titleCuestion {
    width: auto;
    height: auto;
    padding: 20px 15px;
}

.titleCuestion h3 {
    color: rgb(76, 76, 76);
    font-size:45px;
    font-weight: 600;
    letter-spacing: -2px;
}

.apiOrDatabaseContainer {
    height: auto;
    width: auto;
    display: flex;
    flex-direction: column;
    padding-left: 15px;
    gap: 20px;
}

.ApiOrDatabaseOpcionOne {
    display: flex;
    gap: 15px;
}

.apiOrDatabaseContainer .ApiOrDatabaseOpcionOne .button{
    height: 50px;
    width: 200px;
    font-size: 18px;
    letter-spacing: 1px;
    background-color: #6940ff;
    color: aliceblue;
    border: none;
    cursor: pointer;
}


.ApiOrDatabaseOpcionTwo {
    display: flex;
    gap: 15px;
}

.ApiOrDatabaseOpcionTwo input{
    padding-left: 15px;
    font-size: 18px;
    height: 50px;
    width: 60%;
    border: 1px solid rgb(202, 202, 202);
}

.ApiOrDatabaseOpcionTwo button{
    height: 50px;
    width: 150px;
    font-size: 15px;
    letter-spacing: 1px;
    background-color: #6940ff;
    color: aliceblue;
    border: none;
    cursor: pointer;
    margin-right: 5px;
}


/* Estilos para mobile ----------------------------------------------------------*/

@media only screen and (max-width: 680px) {

    .containerApiOrDatabase {
        height: 600px;
        width: 100%;
        padding: 20px 0px;
    }
    
    .titleCuestion {
        padding: 0;
        margin: 40px 0px;
    }
    
    .titleCuestion h3 {
        font-size: 26px;
        font-weight: 600;
        text-align: center;
    }

    .apiOrDatabaseContainer {
        width: 100%;
        padding-left: 0;
    }

    .ApiOrDatabaseOpcionOne {
        display: flex;
        justify-content: center;
        gap: 15px;
    }
    
    .apiOrDatabaseContainer .ApiOrDatabaseOpcionOne .button{
        height: auto;
        width: 140px;
        padding: 8px 16px;
        font-size: 16px;
        font-weight: 500;
        letter-spacing: 1px;
        border-radius: 4px;
        box-shadow: 0px 0px 40px rgba(0, 0, 0, .5);
    } 

    .ApiOrDatabaseOpcionTwo {
        flex-direction: column;
        justify-content: center;
        gap: 15px;
    }
    
    .ApiOrDatabaseOpcionTwo input{
        padding: 8px 7px;
        font-size: 16px;
        height: auto;
        width: 100%;
    }

    .buttonsTwo {
        display: flex;
        justify-content: center;
        gap: 15px;
        width: 100%;
        margin-top: 10px;
    }
    
    .buttonsTwo button{
        height: auto;
        width: 140px;
        padding: 8px 16px;
        font-size: 16px;
        font-weight: 500;
        letter-spacing: 1px;
        border-radius: 4px;
        box-shadow: 0px 0px 40px rgba(0, 0, 0, .5);
        margin-right: 0;
    }
   
}
