.container {
    width: 95%;
    height: auto;
    padding: 30px 0;
}

.form {
    width: 99%;
    height: auto;
    padding: 20px;
    margin: 0px auto;
}

.linea {
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
}

.linea label {
    margin-bottom: 20px;
    display: block;
    font-size: 15px;
    color: rgb(144, 144, 144);
}

textarea { 
    width: 100%;
    height: 200px;
    border: 1px solid rgb(219, 219, 219);
    font-size: 20px;
    padding: 20px 15px;
}

.starts {
    text-align: start;
}

.starts span{
    font-size: 30px;
}

.containerButton {
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: end;
}

.containerButton button {
    border: none;
    width: 150px;
    height: 50px;
    background-color: #6940FF;
    color: aliceblue;
    border-radius: 17px;
    font-size: 17px;
    cursor: pointer;
}


/* Estilos para mobile ----------------------------------------------------------*/

@media only screen and (max-width: 680px) {
    
    .linea label {
        font-size: 18px;
    }
    
    textarea { 
        font-size: 16px;
    }
    
    .starts {
        margin: 20px 0px;
    }
    
    .containerButton {
        height: auto;
    }
    
    .containerButton button {
        border: none;
        width: auto;
        height: auto;
        border-radius: 6px;
        font-size: 16px;
        padding: 8px 16px;
        box-shadow: 0px 0px 40px rgba(0, 0, 0, .5);
        margin-top: 10px;
    }
}